<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <!-- <link type="text/css" href="style.css"> -->
</head>
<body>
    <main>
    <h1>Task Tracker</h1>
    <form method="POST" action="/post-lists">
        <input 
            type="text"
            name="taskEntry"
            id="taskInput"
            placeholder="Insert tasks here"
            required
        />
        <input
            type="submit"
            id="submitTask"
            value="Add task"
        />
    </form>
    <article id="taskList">
        <h2>Tasks</h2>
        <% for (var i = 0; i < taskEntry.length; i++){%>
        <section class="taskEntries" id="sec<%=i%>">
            <p id="p_<%= i %>"><%= taskEntry[i].taskEntry %></p>
            <button class="editButton" value="edit_<%= i %>">Edit</button>
            <button class="deleteButton" value="delete_<%= i %>">Delete</button>
        </section>
        <% } %>
    </article>
    </main> 
    <script src="button.js"></script>
</body>
</html>